﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.note {
    margin:10px;
     border: 4px double black; /* Параметры границы */
    /*background: #fc3;*/ /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
}

#noteField {
    margin-top: 20px;
}

.beige {
	background-color: beige;
}


/*manage*/
.manage {
position:absolute;
right:10px;
top:5px;
}
.saving {      
    vertical-align:sub;
}
.deleteBtn {
    background:url('images/delete.png') no-repeat;
    height:18px;  
    width:18px; 
    margin: 0px 10px;
}

.wrapBtn {
    background: url('images/min.png') no-repeat;
    height:18px;   
    width:18px;
}

.removeBtn {
    background:url('images/cross.png') no-repeat;
    height:16px;    
}

.manage img {
  vertical-align: bottom;
}

.pointer {
    cursor:pointer;
}

.recoverBtn {
    background:url('images/recover.png') no-repeat;
    height:16px;
    margin: 0px 10px;    
}
@media only screen and (min-width: 480px) {

    html {
        background: url('/Content/images/fon.jpg') no-repeat fixed center;
    }
    body {
        margin: 0 8%;
    }

}


    
