﻿@{
    var keywords = "заметки онлайн, история заметок, создать заметку";
    if (ViewBag.keywords != null)
    {
        keywords = ViewBag.keywords;
    }

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NotesVault</title>
    <meta name="keywords" content="@keywords" />
    <meta name="description" content="Онлайн сервис с автосохранением заметок, входом через соцсети, пользоваться которым одинаково удобно с ПК и телефона, и возможностью хранить заметки без регистрации" />
          @Styles.Render("~/Content/css")
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />    
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">
    @if (ViewBag.Materialize != null)
    {
        <link type="text/css" rel="stylesheet" href="~/Content/materialize/css/materialize.css" media="screen,projection" />
    }

    @Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <img src="~/Content/logos/list.png" /> @Html.ActionLink("NotesVault", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink(@Res.history, "History", "Home")</li>
                    }
                    <li>@Html.ActionLink(Res.menuAbout, "About", "Home")</li>
                    <li>@Html.ActionLink(Res.menuContact, "Contact", "Home")</li>
                    <li><a title="Aбонентам МТС" href="/Blog/Index"> <img src="~/Content/images/mts.png" style="height: 20px;" /></a> </li>
                    
                    <li><a title="Картинка дня" href="/Home/DayPicture?picNum=@DateTime.Now.DayOfYear"> <img src="~/Content/images/day.png" /></a> </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ernest</p>
        </footer>
    </div>

    
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
@if (ViewBag.Materialize != null)
{
    <script type="text/javascript" src="~/Scripts/materialize/materialize.js"></script>
}
    @Scripts.Render("~/bundles/bootstrap")    
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77202341-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- Rating@Mail.ru counter -->

<script type="text/javascript">
var _tmr = window._tmr || (window._tmr = []);
_tmr.push({id: "2776089", type: "pageView", start: (new Date()).getTime()});
(function (d, w, id) {
  if (d.getElementById(id)) return;
  var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
  ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
  var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
  if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
})(document, window, "topmailru-code");
</script><noscript>
    <div style="position:absolute;left:-10000px;">
        <img src="//top-fwz1.mail.ru/counter?id=2776089;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
    </div>
</noscript>
<!-- //Rating@Mail.ru counter -->
