﻿@using Logic
@model NoteModel

<div id='@Model.id' name='note' class='col-md-4 note beige'>
    <div class='manage'>
        <img src='~/Content/images/disk.png' class='saving' style='display:none;'/>        
        <button class='wrapBtn'></button>
        <button class='deleteBtn'></button>
    </div>
    <table>
        <thead>
            <tr>

                <td>

                    <input type='text' placeholder='Новая заметка' value='@Model.head' />
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>

                    <textarea cols='30' rows='10'>@Model.body</textarea>
            </td>
        </tr>
    </tbody>
    </table>
</div>
