﻿@{
    ViewBag.Title = "О сайте";
}
<h2>@ViewBag.Title</h2>
<h3>Хранилище заметок</h3>

<p>Редактируйте заметки онлайн и без регистрации, заметки сохраняются автоматически. 
    Входите через соцсети, с ПК и телефона, заметки будут всегда при вас.</p>
