﻿@{
    ViewBag.Title = "Обратная связь";
}
<h3>@ViewBag.Title</h3>

<p>Буду рад вашим сообщениям, замечаниям и пожеланиям</p>

<address>
    <strong>Адрес для писем:</strong>   <a href="mailto:oppa@vault898.ru">oppa@vault898.ru</a><br />
    <strong>Группа в FB:</strong>   <a href="https://www.facebook.com/vaultnotes">Vaultnotes</a><br />
</address>