﻿@model int
@{
    ViewBag.Title = "Картинка дня";
    var picNum = Model;

    const int minNum = 124;
    const int maxNum = 250;

    var prevNum = picNum - 1;
    var showPrev = false;
    if (prevNum >= minNum)
    {
        showPrev = true;
    }
    if (picNum < minNum) {
        picNum = minNum;
    }
    if (picNum > maxNum)
    {
        picNum = minNum + picNum - maxNum;
    }
    var numTxt = picNum.ToString();
}

<div class="row" style="margin-top:20px;">
    <div class="col-md-12" style="text-align:center;">
        <img id="dayPic" style="max-width:100%;max-height: 600px;" />

    </div>
</div>
@if (showPrev)
{
    @: @Html.ActionLink("Вчера", "DayPicture", new { picNum = prevNum })
}




<script>
    $().ready(function () {
        var name = '@numTxt';
        $('#dayPic').prop('src', '/Pictures/Day/' + name + '.jpg');
    });
</script>