﻿@using Logic;
@model List<NoteModel>
@{
    ViewBag.Title = "История заметок";
}

    <div class="row">
        @if(Model.Count == 0)
        {
            <h4>
                @Res.noarchive
            </h4>
        }

        @Html.Partial("NavigateNotes",Model)           
       
    </div>

@Scripts.Render("~/bundles/history")
<script>
   @Html.Partial("CommonJS")
    $().ready(function () {
        $('li').click(wrappedClick);
    });    
</script>
