﻿@{
    ViewBag.Title = Res.main;
}
@using Logic
@model List<NoteModel>


    <div id="noteField" class="row">
        <div id="notificationArea" hidden="hidden" class='alert alert-info alert-dismissible col-md-12' role='alert'>
            
        </div>
        @foreach (var note in Model.Where(m => m.isWrapped == false))
        {
            var mdl = new NoteModel { id = note.guid.ToString(), head = note.head, body = note.body };
            @: @Html.Partial("_Note", mdl)
    }
    </div>

    <div id="wrappedField">
        @Html.Partial("NavigateNotes", Model.Where(m => m.isWrapped).ToList())

    </div>

    <div id="errMsg" class="alert"></div>

    @{
        var headTempl = "note_head_";
        var bodyTempl = "note_body_";
    }

    <script src="~/Scripts/js.cookie.js"></script>
    <script>
    @Html.Partial("CommonJS")

        var isAuthenticated = '@User.Identity.IsAuthenticated.ToString()' == 'True';

        const headTempl = '@headTempl';
        const bodyTempl = '@bodyTempl';

        @{
        var mdlNote = new NoteModel { id = "note_new", head = headTempl, body = bodyTempl };
    }
        @Html.Partial("MakeNote", mdlNote)

    </script>
    @Scripts.Render("~/bundles/notes")

