﻿@using Logic;
@model List<NoteModel>
<ul class="nav nav-pills ">
    @foreach (var note in Model)
    {
        var head = (string.IsNullOrEmpty(note.head)) ? Res.noname : note.head;
        <li id="@note.guid.ToString()">

            <a class="pointer">  @head</a>

        </li>
    }
</ul>

