﻿@model vault.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>@Res.loginExt</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                There are no external authentication services configured.
            </p>
        </div>
    }
    else {
        <div id="socialLoginList">
            @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                            <img src="/Content/images/fb.jpg" > @p.AuthenticationType</button>
                    }
                </p>
            }
            <p>
                <button class="btn btn-default" onclick="VK.Auth.login(authInfo);" value="VK" title="Log in using your VK account">
                <img src="~/Content/images/icon-vk.png" style="padding-right:5px;">VK</button>
            </p>
        </div>
    }
}
