﻿
@{
    
}
    <div class="row"> 
        <div class="col s12 m4 l3">
            <!-- Note that "m4 l3" was added -->
            <!-- Grey navigation panel

              This content will be:
          3-columns-wide on large screens,
          4-columns-wide on medium screens,
          12-columns-wide on small screens  -->
            <div id="block1" class="section scrollspy">
                <p>Обо мне</p>
            </div>

            <div id="block2" class="section scrollspy">
                <p>Что могу предложить</p>
            </div>

            <div id="block3" class="section scrollspy">
                <p>Мои достижения</p>
            </div>

        </div>

        <div class="col s12 m8 l9">
            <ul class="section table-of-contents">
                <li><a href="#block1">block1</a></li>
                <li><a href="#block2">block2</a></li>
                <li><a href="#block3">block3</a></li>
            </ul>

        </div>
    </div>

